{
  "openapi": "3.1.0",
  "info": {
    "title": "TinyZKP Maintenance API",
    "version": "0.1.0",
    "summary": "Release and capability discovery during Plonky3 backend recovery.",
    "description": "Hosted proving, verification, account creation, and checkout are disabled. The production product is a local resource-bounded Plonky3 backend; no standalone v9 proof API is advertised."
  },
  "servers": [{"url":"https://api.tinyzkp.com"}],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "health",
        "security": [],
        "responses": {"200":{"description":"Process is alive; this does not indicate proving availability."}}
      }
    },
    "/version": {
      "get": {
        "operationId": "version",
        "security": [],
        "responses": {"200":{"description":"Release identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReleaseIdentity"}}}}}
      }
    },
    "/v1/capabilities": {
      "get": {
        "operationId": "capabilities",
        "security": [],
        "responses": {"200":{"description":"Explicit maintenance and backend state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Capabilities"}}}}}
      }
    }
  },
  "components": {
    "schemas": {
      "ReleaseIdentity": {
        "type":"object",
        "required":["service","package_version"],
        "properties": {
          "service":{"type":"string"},
          "package_version":{"type":"string"},
          "release_sha":{"type":["string","null"]},
          "release_ref":{"type":["string","null"]},
          "build_url":{"type":["string","null"]}
        }
      },
      "Capabilities": {
        "type":"object",
        "required":["service_status","backend","plonky3_version","proving_available","verification_available","account_creation_enabled","checkout_enabled"],
        "properties": {
          "service_status":{"const":"backend_recovery"},
          "backend":{"const":"plonky3"},
          "plonky3_version":{"const":"0.6.1"},
          "compatibility_profile":{"const":"tinyzkp-p3-goldilocks-v1"},
          "proof_format":{"const":"official_plonky3"},
          "verifier":{"const":"unmodified_official_plonky3"},
          "proving_available":{"const":false},
          "verification_available":{"const":false},
          "account_creation_enabled":{"const":false},
          "checkout_enabled":{"const":false},
          "legacy_verification":{"const":"offline_research_only"},
          "benchmarking_available":{"const":true}
        }
      }
    }
  }
}
