{
  "openapi": "3.1.0",
  "info": {
    "title": "TinyZKP Public API",
    "version": "2026-06-24",
    "summary": "Proof receipts for agents, APIs, backend workflows, and state transitions.",
    "description": "TinyZKP mints transparent STARK proof receipts for supported state-transition templates. This marketing-domain OpenAPI document exposes the stable public integration surface for agents and API clients. The canonical live server specification is available at https://api.tinyzkp.com/api-doc/openapi.json.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "externalDocs": {
    "description": "TinyZKP developer documentation",
    "url": "https://tinyzkp.com/docs"
  },
  "servers": [
    {
      "url": "https://api.tinyzkp.com",
      "description": "TinyZKP hosted API"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Templates",
      "description": "Discover proof templates and template parameters."
    },
    {
      "name": "Proving",
      "description": "Submit proof jobs and poll for proof receipts."
    },
    {
      "name": "Verification",
      "description": "Verify proof receipts. Verification is free; the hosted API requires auth to prevent abuse."
    },
    {
      "name": "Billing and Ops",
      "description": "Estimate cost, inspect usage, and check service health."
    }
  ],
  "paths": {
    "/templates": {
      "get": {
        "tags": ["Templates"],
        "summary": "List available proof templates",
        "operationId": "listTemplates",
        "security": [],
        "responses": {
          "200": {
            "description": "Template list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateListResponse"
                },
                "examples": {
                  "live": {
                    "value": {
                      "templates": [
                        {
                          "id": "accumulator_step",
                          "summary": "Prove a valid state-transition chain",
                          "tags": ["state-transition", "accumulator", "chain"],
                          "cost_category": "lightweight",
                          "backend": "vm",
                          "enforcement": "enforced",
                          "lifecycle": "live"
                        }
                      ],
                      "count": 1
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Unexpected server error"
          }
        }
      }
    },
    "/templates/{template_id}": {
      "get": {
        "tags": ["Templates"],
        "summary": "Describe a proof template",
        "operationId": "describeTemplate",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateId"
          }
        ],
        "responses": {
          "200": {
            "description": "Template metadata, schema, and examples",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Template not found or unavailable"
          }
        }
      }
    },
    "/estimate": {
      "post": {
        "tags": ["Billing and Ops"],
        "summary": "Estimate cost, time, and proof size",
        "operationId": "estimateProof",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EstimateRequest"
              },
              "examples": {
                "accumulatorStep": {
                  "value": {
                    "template_id": "accumulator_step",
                    "params": {
                      "initial": 1000,
                      "final": 1045,
                      "deltas": [10, 20, 15]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EstimateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid estimate request"
          }
        }
      }
    },
    "/prove/template/{template_id}": {
      "post": {
        "tags": ["Proving"],
        "summary": "Submit a proof job using a template",
        "operationId": "proveTemplate",
        "parameters": [
          {
            "$ref": "#/components/parameters/TemplateId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateProveRequest"
              },
              "examples": {
                "accumulatorStep": {
                  "value": {
                    "params": {
                      "initial": 1000,
                      "final": 1045,
                      "deltas": [10, 20, 15]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proof job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProveSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid template parameters"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "402": {
            "description": "Monthly spending cap reached"
          }
        }
      }
    },
    "/prove": {
      "post": {
        "tags": ["Proving"],
        "summary": "Submit a generic proof job",
        "operationId": "prove",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proof job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProveSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid prove request"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/prove/batch": {
      "post": {
        "tags": ["Proving"],
        "summary": "Submit multiple proof jobs",
        "operationId": "proveBatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchProveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchProveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid batch request"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/prove/{job_id}": {
      "get": {
        "tags": ["Proving"],
        "summary": "Get proof job status and result",
        "operationId": "getProofJob",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Proof job status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProveJobStatus"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Job not found"
          }
        }
      }
    },
    "/verify": {
      "post": {
        "tags": ["Verification"],
        "summary": "Verify a proof receipt",
        "description": "Verification is free but requires a bearer token on the hosted API to prevent abuse. The public verifier at https://tinyzkp.com/verify can verify without an API key via first-party WASM where compatible, with a hosted fallback for current production formats.",
        "operationId": "verifyProof",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              },
              "examples": {
                "v5": {
                  "value": {
                    "proof": {
                      "version": 5,
                      "bytes": [106, 143, 59, 44]
                    },
                    "allow_legacy_v2": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyResult"
                }
              }
            }
          },
          "400": {
            "description": "Malformed proof object"
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "tags": ["Billing and Ops"],
        "summary": "Get usage summary",
        "operationId": "getUsage",
        "responses": {
          "200": {
            "description": "Usage summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummary"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "tags": ["Billing and Ops"],
        "summary": "Liveness check",
        "operationId": "healthz",
        "security": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Unexpected server error"
          }
        }
      }
    },
    "/version": {
      "get": {
        "tags": ["Billing and Ops"],
        "summary": "Get API release metadata",
        "operationId": "getVersion",
        "security": [],
        "responses": {
          "200": {
            "description": "Release metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseInfo"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Unexpected server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "TinyZKP API key"
      }
    },
    "parameters": {
      "TemplateId": {
        "name": "template_id",
        "in": "path",
        "required": true,
        "description": "Proof template identifier.",
        "schema": {
          "type": "string",
          "example": "accumulator_step"
        }
      },
      "JobId": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "description": "Proof job identifier.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "TemplateListResponse": {
        "type": "object",
        "required": ["templates", "count"],
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TemplateSummary"
            }
          },
          "count": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "TemplateSummary": {
        "type": "object",
        "required": ["id", "summary", "tags", "cost_category"],
        "properties": {
          "id": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cost_category": {
            "type": "string"
          },
          "backend": {
            "type": "string",
            "description": "Template backend, such as vm, zkml, or spartan."
          },
          "enforcement": {
            "type": "string",
            "description": "Predicate enforcement label, such as enforced or structure_only."
          },
          "lifecycle": {
            "type": "string",
            "description": "Customer-facing lifecycle label.",
            "enum": ["live", "audit_gated", "preview"]
          }
        }
      },
      "TemplateProveRequest": {
        "type": "object",
        "required": ["params"],
        "properties": {
          "params": {
            "type": "object",
            "description": "Template parameters. For accumulator_step, use initial, final, and deltas.",
            "additionalProperties": true
          },
          "block_size": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "fri_final_poly_size": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "zk": {
            "type": ["boolean", "null"],
            "description": "Optional zero-knowledge mode override. Do not market privacy unless the exact template, configuration, review status, and verifier path are explicitly documented."
          }
        }
      },
      "ProveSubmitResponse": {
        "type": "object",
        "required": ["job_id"],
        "properties": {
          "job_id": {
            "type": "string"
          }
        }
      },
      "ProveJobStatus": {
        "oneOf": [
          {
            "type": "object",
            "required": ["status"],
            "properties": {
              "status": {
                "type": "string",
                "enum": ["pending"]
              }
            }
          },
          {
            "type": "object",
            "required": ["status"],
            "properties": {
              "status": {
                "type": "string",
                "enum": ["running"]
              }
            }
          },
          {
            "type": "object",
            "required": ["status", "proof"],
            "properties": {
              "status": {
                "type": "string",
                "enum": ["succeeded"]
              },
              "proof": {
                "$ref": "#/components/schemas/ProofBytes"
              }
            }
          },
          {
            "type": "object",
            "required": ["status", "error"],
            "properties": {
              "status": {
                "type": "string",
                "enum": ["failed"]
              },
              "error": {
                "type": "string"
              }
            }
          }
        ]
      },
      "ProofBytes": {
        "type": "object",
        "required": ["version", "bytes"],
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32",
            "minimum": 5,
            "description": "Production proof format version. Current examples use v5."
          },
          "bytes": {
            "type": "array",
            "description": "Serialized proof bytes as unsigned byte values.",
            "items": {
              "type": "integer",
              "format": "int32",
              "minimum": 0,
              "maximum": 255
            }
          }
        }
      },
      "VerifyRequest": {
        "type": "object",
        "required": ["proof", "allow_legacy_v2"],
        "properties": {
          "proof": {
            "$ref": "#/components/schemas/ProofBytes"
          },
          "allow_legacy_v2": {
            "type": "boolean",
            "description": "Send false for new integrations. Legacy v2 proof acceptance is not part of the current production path."
          }
        }
      },
      "VerifyResult": {
        "type": "object",
        "required": ["ok"],
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "error": {
            "type": ["string", "null"]
          }
        }
      },
      "EstimateRequest": {
        "type": "object",
        "properties": {
          "template_id": {
            "type": ["string", "null"],
            "example": "accumulator_step"
          },
          "params": {
            "type": ["object", "null"],
            "additionalProperties": true
          },
          "program_length": {
            "type": ["integer", "null"],
            "minimum": 0
          },
          "block_size": {
            "type": ["integer", "null"],
            "minimum": 0
          }
        }
      },
      "EstimateResponse": {
        "type": "object",
        "required": [
          "estimated_trace_length",
          "tier",
          "estimated_cost_cents",
          "estimated_time_ms",
          "estimated_proof_size_bytes"
        ],
        "properties": {
          "estimated_trace_length": {
            "type": "integer",
            "minimum": 0
          },
          "tier": {
            "type": "string",
            "description": "Legacy engineering rate-band label returned by /estimate (Tiny, Standard, Large, Enterprise, or XL). This is not a storefront plan; use estimated_trace_length with /pricing.json or /calculator.json for buyer-facing plan selection."
          },
          "estimated_cost_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Base proof-rate estimate in cents before account-level plan discounts, included Free receipts, spend caps, or Compute routing."
          },
          "estimated_time_ms": {
            "$ref": "#/components/schemas/EstimateRange"
          },
          "estimated_proof_size_bytes": {
            "$ref": "#/components/schemas/EstimateRange"
          }
        }
      },
      "EstimateRange": {
        "type": "object",
        "additionalProperties": true
      },
      "BatchProveRequest": {
        "type": "object",
        "required": ["requests"],
        "properties": {
          "requests": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "BatchProveResponse": {
        "type": "object",
        "required": ["job_ids"],
        "properties": {
          "job_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UsageSummary": {
        "type": "object",
        "required": [
          "total_proofs",
          "total_verifies",
          "failed_proofs",
          "estimated_cost_cents",
          "period_start_ms",
          "period_end_ms"
        ],
        "properties": {
          "total_proofs": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "total_verifies": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "failed_proofs": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "estimated_cost_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "period_start_ms": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "period_end_ms": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          }
        }
      },
      "ReleaseInfo": {
        "type": "object",
        "required": ["service", "package_version"],
        "properties": {
          "service": {
            "type": "string"
          },
          "package_version": {
            "type": "string"
          },
          "release_ref": {
            "type": ["string", "null"]
          },
          "release_sha": {
            "type": ["string", "null"]
          },
          "build_url": {
            "type": ["string", "null"]
          }
        }
      }
    }
  },
  "x-canonical-openapi": "https://api.tinyzkp.com/api-doc/openapi.json",
  "x-template-catalog": "https://tinyzkp.com/templates.json",
  "x-examples": "https://tinyzkp.com/examples.json",
  "x-agent-policy": "https://tinyzkp.com/agent-policy.json",
  "x-limits": "https://tinyzkp.com/limits.json",
  "x-evaluation": "https://tinyzkp.com/evaluation.json",
  "x-enterprise": "https://tinyzkp.com/enterprise.json",
  "x-changelog": "https://tinyzkp.com/changelog.json",
  "x-receipt-schema": "https://tinyzkp.com/schemas/tinyzkp-receipt.schema.json",
  "x-agent-receipt-schema": "https://tinyzkp.com/schemas/agent-receipt.schema.json"
}
